extends ../layouts/shop/main

block styles
  link(rel="stylesheet", href="/css/shop/product-list.css")
  link(rel="stylesheet", href="/css/admin/product-list.css")
block content
  if productList.length > 0
    div.product-list
      each product in productList
        a.product-item(href=`/product-detail/${product._id}`)
          div.product__body
            h1.product-item__header #{product.title}
            .product__inner
              .product__image-wrapper
                img.product__image(src=product.imageUrl || 'https://sacajaweaaudubon.org/wp-content/uploads/2020/06/a-lot-of-books-clipart-6.png', alt="product-image")
              p.product__description #{product.description}
              h3.product__price #{product.price}$
          div.card__actions
            .buttons
              form(action=`/admin/product-edit/${product._id}`, method="GET")
                input(type="hidden" name="_csrf" value=csrfToken)
                button.btn-action.product__add-to-cart(href=`admin/product-edit/${product._id}`) Edit
              form(action=`/admin/product-delete`, method="POST")
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="hidden", name="productId", value=product._id)
                button.btn-action-danger.product__add-to-cart.admin__delete-button(type="submit") Delete

  else
    h1 No products

