extends ../layouts/shop/main

block styles
  link(rel="stylesheet", href="/css/core/form.css")
block content
  section.main-section
    form.form(method="post", action=`${isEdit ? `/admin/product-edit?_csrf=${csrfToken}` : `/admin/product-add?_csrf=${csrfToken}`}`, novalidate="true" enctype="multipart/form-data")
      input(type="hidden" name="_csrf" value=csrfToken)
      if (isEdit)
        input.form__input(type="hidden", name="_id", value=product._id)
      .input-wrapper
        label.input-label(for="title") Name
        .input-error-wrapper
          input.form__input(class = errors && errors.title && 'for__input_error', id="title", type="text", name="title", value=isEdit && product.title)
          if (errors && errors.title)
            .error #{errors.title}
      .input-wrapper
        label.input-label(for="image") Image
        .input-error-wrapper
          input.form__input(class = errors && errors.image && 'for__input_error', id="image", type="file", name="image")
          if (errors && errors.image)
            .error #{errors.image}

      .input-wrapper
        label.input-label(for="image") Price
        .input-error-wrapper
          input.form__input(class = errors && errors.price && 'for__input_error', id="price", type="number", name="price", step="0.01" value=isEdit && product.price)
          if (errors && errors.price)
            .error #{errors.price}
      .input-wrapper
        label.input-label(for="image") Description
        .input-error-wrapper
          textarea.form__input.add-product-form__textarea(class = errors && errors.description && 'for__input_error', id="description", rows="5", name="description" ) #{isEdit ? product.description : ''}
          if (errors && errors.description)
            .error #{errors.description}
      button.form__button(type="submit") #{isEdit ? 'Edit' : 'Create'}

