extends ../layouts/shop/main

block styles
  link(rel="stylesheet", href="/css/shop/cart.css")
block content
  if productList && productList.length > 0
    each product in productList
      .cart-product
        .span #{product.cartProductId.title}
        .cart-buttons
          form(action="/cart-delete-product", method="POST")
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden", value=product.cartProductId._id, name="productId")
            button.cart__action-button(type="submit") -
          span.cart-product__count #{product.count}
          form(action="/cart-add-product", method="POST")
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden", value=product.cartProductId._id, name="productId")
            button.cart__action-button(type="submit") +
    .cart-price__wrapper
      span Total: #{totalPrice}$
      a.cart__checkout-link(href="/checkout") Go to the checkout page!
      //form(action="/cart-create-order", method="POST")
      //  input(type="hidden" name="_csrf" value=csrfToken)
      //  button.btn-action(type="submit") Order Now !



