extends ../layouts/shop/main

block styles
  link(rel="stylesheet", href="/css/shop/order-list.css")
block content
  if orderList.length > 0
    each order in orderList
      div.order-item
        a(href=`/order/${order._id}`)
          h2.order-item-header Order - # #{order._id}
        if order.products.length > 0
          each orderItem in order.products
            a.order-item__wrapper(href=`product-detail/${orderItem.productData._id}`)
              span.order-item__name #{orderItem.productData.title} (#{orderItem.count})
  else
    h1 No orders yet
